<div class="container">
	<form class="card" [formGroup]="form" (ngSubmit)="onSubmitClick()">
		<h1>Angular Forms</h1>

		<div class="form-control">
			<label>Email</label>
			<input type="text" placeholder="Email" formControlName="email" />
			<div *ngIf="form.get('email').invalid && form.get('email').touched" class="validation">
				<small *ngIf="form.get('email').errors.required">Field is require</small>
				<small *ngIf="form.get('email').errors.email">Put correct email</small>
				<small *ngIf="form.get('email').errors.restrictedEmail">Email {{ form.get('email').value }} prohibited</small>
				<small *ngIf="form.get('email').errors.uniqEmail">Email {{ form.get('email').value }} exist</small>
			</div>
		</div>

		<div class="form-control">
			<label>Password</label>
			<input type="password" placeholder="Password" formControlName="password" />
			<div *ngIf="form.get('password').invalid && form.get('password').touched" class="validation">
				<small *ngIf="form.get('password').errors.required">Field is require</small>
				<small *ngIf="form.get('password').errors.minlength"
					>The length should be {{ form.get('password').errors.minlength.requiredLength }}, but now
					{{ form.get('password').errors.minlength.actualLength }}
				</small>
			</div>
		</div>

		<div class="card" formGroupName="address">
			<h2>Address</h2>

			<div class="form-control">
				<label>Country</label>

				<select formControlName="country">
					<option value="en">England</option>
					<option value="ua">Ukraine</option>
					<option value="it">Italy</option>
				</select>
			</div>

			<div class="form-control">
				<input type="text" formControlName="city"/>
			</div>

			<button class="btn" type="button" (click)="onClickSetCapital()">Choose capital</button>
		</div>

		<div class="card" formGroupName="skills">
			<h2>Your skills</h2>
			<button class="btn" type="button" (click)="onAddskill()">Add skill</button>
			<div class="form-control" *ngFor="let control of form.get('skills').controls; let idx = index">
				<label>Skill {{ idx + 1 }}</label>
				<input type="text" [formControlName]="idx"/>
			</div>
		</div>

		<button class="btn" type="submit" [disabled]="form.invalid || form.pending">Send</button>
	</form>

	<app-switch [(ngModel)]="appState"></app-switch>

	<hr>

	{{ appState }}
</div>

